<div>
  <h4>Improve Your Script With AI</h4>
  <strong>{{ currentVideoDuration.name }}</strong>
  <p class="text-medium-emphasis">{{ currentVideoDuration.description }}</p>
  <form [formGroup]="parentScriptFormGroup">

    <div *ngFor="let section of currentVideoDuration.sections">
      <h5>{{ section.name }}</h5>
      <div class="row">
        <textarea rows="10" style="height: auto; margin-bottom: 0.5rem;" cFormControl formControlName="{{ section.controlName }}" oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'>
        </textarea>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
      <button cButton variant="outline" color="dark" matStepperPrevious>Go Back</button>
      <button class="btn btn-primary" style="margin-left: 1rem;" matStepperNext>Go To Next Step</button>
    </div>
  </form>
</div>