<div>
  <form>
    <div class="row">
      <div class="col-4">
        <mat-button-toggle-group value="Video">
          <mat-button-toggle *ngFor="let mediaOption of mediaOptions" [value]="mediaOption"
            (click)="onMediaOptionSelected(mediaOption)">{{ mediaOption }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="col-8">
        <div *ngIf="selectedMediaOption === 'Video'">
          <h4>Use Our AI Generated Voice or Record Your Own</h4>
          <p class="text-medium-emphasis">
            Pick a voice. We'll take care of the audio for you or you can upload your own below.
          </p>
          <audio-dropdown #audiochild (voiceSelected)="onVoiceSelected($event)"></audio-dropdown>
          <p></p>
          <div >
            <button 
              cButton
              variant="outline" 
              style="width: 100%" 
              variant="outline" 
              color="primary"
              [disabled]="generateAudioLoading"
              (click)="generateTextToSpeech()">
              <c-spinner *ngIf="generateAudioLoading" size="sm"></c-spinner>
              Generate Your AI Narration
            </button>
            <audio *ngIf="generatedAudioIsVisible" class="flex-grow-1" style="margin: 1rem; width: 100%;" controls>
              <source [src]="generatedAudio" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
          <p></p>
          <button 
              cButton
              variant="outline" 
              style="width: 100%" 
              variant="outline" 
              color="primary"
              (click)="downloadTextFile()">
              Download Your Scipt
            </button>
          <br />
          <h4>Almost Done, Put It All Together With Descript</h4><br />
          <p class="text-medium-emphasis">
            Now that you have downloaded your AI narration or created your own, it's time to put it all together with
            video.
          </p>
          <button 
            cButton
            variant="outline"  
            color="primary"
            style="width: 100%" 
            (click)="descriptButtonClicked()">
            Edit In Descript
          </button>
        </div>

        <div *ngIf="selectedMediaOption === 'Thumbnail'">
          <div class="grid-container" style="padding-top: 2rem;">
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0g7iFaU/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                variant="outline" color="primary"
                href="https://www.canva.com/design/DAFg0g7iFaU/r17BFd44EDBdpayWyKrnQg/edit?utm_content=DAFg0g7iFaU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0qAz46Q/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                variant="outline" color="primary"
                href="https://www.canva.com/design/DAFg0qAz46Q/L4M5HjasBM6H2yQIYEUsfg/edit?utm_content=DAFg0qAz46Q&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0qpS228/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                variant="outline" color="primary"
                href="https://www.canva.com/design/DAFg0qpS228/HC7MUiBXS9Q1PJocqzOTNg/edit?utm_content=DAFg0qpS228&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0jHKpT0/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                variant="outline" color="primary"
                href="https://www.canva.com/design/DAFg0jHKpT0/NzysEvkx0ORQTe5fzkDh4w/edit?utm_content=DAFg0jHKpT0&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg08A6ApE/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                variant="outline" color="primary"
                href="https://www.canva.com/design/DAFg08A6ApE/RB29GcwLgd6W0GpkvjkNxA/edit?utm_content=DAFg08A6ApE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0_bcsik/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                variant="outline" color="primary"
                href="https://www.canva.com/design/DAFg0_bcsik/whqApc5ek7brC7nYuZWN0w/edit?utm_content=DAFg0_bcsik&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
      <button cButton variant="outline" color="dark" matStepperPrevious>Go Back</button>
      <button class="btn btn-primary" style="margin-left: 1rem;" (click)="goToReview()">Review Your Video & Post
        To Youtube</button>
    </div>
  </form>
</div>