<c-card class="mb-4">
  <c-card-body>

    <div style="display: flex; align-items: center;" *ngIf="contentGenerationIsLoading">
      <c-progress class="mb-3" style="width: 100%">
        <c-progress-bar [value]="contentProgressValue"></c-progress-bar>
      </c-progress>
    </div>
    <p *ngIf="contentGenerationIsLoading" style="margin: 1rem;" class="text-medium-emphasis">
      {{ contentProgressLabel }}
    </p>
    <div style="display: flex; align-items: center;" *ngIf="contentGenerationIsLoading">
      <c-progress class="mb-3" style="width: 100%">
        <c-progress-bar [value]="scriptProgressValue"></c-progress-bar>
      </c-progress>
    </div>
    <p *ngIf="contentGenerationIsLoading" style="margin: 1rem;" class="text-medium-emphasis">
      {{ scriptProgressLabel }}
    </p>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="resultsFormGroup" *ngIf="!contentGenerationIsLoading">
        <h4>Let's Make The Video Your Own</h4>
        <p class="text-medium-emphasis small">
          Go through your new video context and make any edits to create your script!
        </p>
        <form [formGroup]="resultsFormGroup">
          <ng-template matStepLabel>Text</ng-template>

          <h5>Title</h5>
          <div class="row">
            <div class="col-8">
              <textarea style="height: 100%; margin-bottom: 0.5rem;" cFormControl formControlName="title">
            </textarea>
            </div>
            <div class="col-2">
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isTitleLoading"
                  (click)="rerollTitle()">
                  <c-spinner *ngIf="isTitleLoading" size="sm"></c-spinner>
                  New
                </button>
              </div>
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isTitleOptimizing"
                  (click)="optimizeTitle()">
                  <c-spinner *ngIf="isTitleOptimizing" size="sm"></c-spinner>
                  Optimize
                </button>
              </div>
            </div>
          </div>

          <h5>Description</h5>
          <div class="row">
            <div class="col-8">
              <textarea style="height: 100%; margin-bottom: 0.5rem;" cFormControl formControlName="description" oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'>
            </textarea>
            </div>
            <div class="col-2">
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isDescLoading"
                  (click)="rerollDescription()">
                  <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
                  New
                </button>
              </div>
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isDescOptimizing"
                  (click)="optimizeDesc()">
                  <c-spinner *ngIf="isDescOptimizing" size="sm"></c-spinner>
                  Optimize
                </button>
              </div>
            </div>
          </div>

          <h5>Tags</h5>
          <div class="row">
            <div class="col-8">
              <textarea style="height: 100%; margin-bottom: 0.5rem;" cFormControl formControlName="tags" oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'>
            </textarea>
            </div>
            <div class="col-2">
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isTagsLoading"
                  (click)="rerollTags()">
                  <c-spinner *ngIf="isTagsLoading" size="sm"></c-spinner>
                  New
                </button>
              </div>
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isTagsOptimizing"
                  (click)="optimizeTags()">
                  <c-spinner *ngIf="isTagsOptimizing" size="sm"></c-spinner>
                  Optimize
                </button>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
            <button cButton variant="outline" color="dark" (click)="onReset()">Reset Content</button>
            <button class="btn btn-primary" style="margin-left: 1rem;" matStepperNext>Go To Next Step</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="scriptFormGroup" *ngIf="!contentGenerationIsLoading">
        <ng-template matStepLabel>Script</ng-template>
        <video-script [parentScriptFormGroup]="scriptFormGroup"></video-script>
      </mat-step>

      <mat-step [stepControl]="mediaFormGroup" *ngIf="!contentGenerationIsLoading">
        <ng-template matStepLabel>Media</ng-template>
        <video-media [parentMediaFormGroup]="mediaFormGroup"></video-media>
      </mat-step>

    </mat-horizontal-stepper>
  </c-card-body>
</c-card>