<div class="row" style="margin: 0;">
  <div class="col-3">
    <svg cIcon name="cibYoutube" style="width: 100%"></svg>
    <p class="text-medium-emphasis" class="views"  style="width: 100%; text-align: center;">
      <!-- {{ video.statistics?.viewCount ?? 'N/A' }} -->
    </p>
  </div>
  <div class="col-3">
    <svg cIcon name="cilThumbUp" style="width: 100%"></svg>
    <p class="text-medium-emphasis" class="likes" style="width: 100%; text-align: center;">
      <!-- {{ video.statistics?.likeCount ?? 'N/A' }} -->
    </p>
  </div>
  <div class="col-3">
    <svg cIcon name="cilCommentBubble" style="width: 100%"></svg>
    <p class="text-medium-emphasis" class="comments" style="width: 100%; text-align: center;">
      <!-- {{ video.statistics?.commentCount ?? 'N/A' }} -->
    </p>
  </div>
</div> 
