<div>
  <form>
    <h6>{{ 'media_selection_form.video_option.title' | translate }}</h6>
    <p style="margin-bottom: 0.5rem;">{{ 'media_selection_form.video_option.description' | translate }}</p>
    <audio-dropdown #audiochild (voiceSelected)="onVoiceSelected($event)"></audio-dropdown>
    <p></p>
    <div>
      <button cButton variant="outline" style="width: 100%;" variant="outline" color="info"
        [disabled]="generatedAudioIsLoading" (click)="generateTextToSpeech()">
        <c-spinner *ngIf="generatedAudioIsLoading" size="sm"></c-spinner>
        {{ 'media_selection_form.video_option.generate_ai_narration_button' | translate }}
      </button>
      <audio #audioPlayer class="flex-grow-1" style="width: 100%; margin-top: 1rem;" controls>
        <source [src]="generatedAudioUrl" type="audio/mpeg">
        {{ 'media_selection_form.video_option.audio_not_supported_message' | translate }}
      </audio>
    </div>
    <br/>
    <h6 style="margin-top: 1rem;">{{ 'media_selection_form.video_option.edit_in_descript_title' | translate }}</h6>
    <p style="margin-bottom: 0.5rem;">{{ 'media_selection_form.video_option.edit_in_descript_description' | translate }}</p>
    <button cButton variant="outline" color="info" style="width: 100%; padding: 0.5rem;" (click)="descriptButtonClicked()">
      {{ 'media_selection_form.video_option.edit_in_descript_button' | translate }}
    </button>
  </form>
</div>
