::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-8 {
    flex-basis: calc(85%);
    max-width: calc(85%);
}

.col-1 {
    flex-basis: calc(15%);
    max-width: calc(15%);
}

textarea {
    width: 100%;
    height: auto;
    border: none;
}

.full-width {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.d-flex {
    padding-top: 1rem;
}

h4 {
    padding-top: 2rem;
}

h5 {
    margin-top: 1rem;
}

.col-btn {
    width: 100%;
    margin-bottom: 0.5rem;
}

.error-container {
    flex-direction: row;
    align-items: center;
    background-color: #FFE4E1;
    display: flex;
    align-items: center;
    background-color: #ffebee;
    padding: 1rem;
}