<c-dropdown>
    <button cButton cDropdownToggle color="info" style="width: 100%; white-space: normal; overflow-wrap: break-word;">{{ selectedItem.name }}</button>
    <ul cDropdownMenu class="dropdown-list">
        <li *ngFor="let item of voiceOptions" (click)="onItemSelect($event, item)">
            <div class="dropdown-item d-flex align-items-center" (click)="onItemPlay(audioPlayer)">
                <p class="item-name text-medium-emphasis">{{ item.name }}</p>
                <audio #audioPlayer controls hidden="true">
                    <source [src]="item.sampleUrl" type="audio/mpeg">
                        {{ 'voice_selection_dropdown.audio_not_supported_message' | translate }}
                </audio>
            </div>
        </li>
    </ul>
</c-dropdown>
