<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">{{ 'pages.oops_lost' | translate}}</h4>
          <p class="text-medium-emphasis float-start">
            {{ 'pages.page_not_found' | translate}}}
          </p>
        </div>
        <c-input-group class="input-prepend">
          <span cInputGroupText>
            <svg cIcon name="cilMagnifyingGlass"></svg>
          </span>
          <input cFormControl [placeholder]="'pages.search_placeholder' | translate" type="text" />
          <button cButton color="info">{{ 'pages.search_button' | translate}}</button>
        </c-input-group>
      </c-col>
    </c-row>
  </c-container>
</div>
