<c-dropdown>
    <button cButton cDropdownToggle color="info" style="width: 100%; ">{{ selectedItem.name }}</button>
    <ul cDropdownMenu class="dropdown-list">
        <li *ngFor="let item of voiceOptions" (click)="onItemSelect($event, item)">
            <div class="dropdown-item d-flex justify-content-between align-items-center">
                <div class="item-name">{{ item.name }}</div>
                <svg cIcon name="cilMediaPlay"></svg>
                <p 
                class="text-medium-emphasis small" 
                style="display: flex; height:100%; align-self: center;"
                (click)="onItemPlay(audioPlayer)">Click Here To Play</p>
                <audio #audioPlayer controls hidden="true">
                    <source [src]="item.sampleUrl" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </li>
    </ul>
</c-dropdown>