.container {
    display: flex;
    flex-direction: row;

    .btn {
        /* Make the buttons grow to fill the container */
        flex: 1;
        /* Set the height to match the container height */
        height: 100%;
        /* Split the container into two equal halves */
        width: 50%;
        margin: 0.5rem;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

textarea {
    width: 100%;
    height: auto;
    border: none;
  }

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    width: 49%;
    margin: 4px;
}

.responsive-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
    background-color: lightgrey;
}

.responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.mat-input-element {
    background-color: #fff;
    border-radius: 10px;
}

.flex-grow-1 {
    padding-right: 1rem;
}

.d-flex {
    padding-top: 1rem;
}

mat-button-toggle-group {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border: none;
    orientation: vertical;
    display: block; // display the buttons as block elements for vertical orientation

    mat-button-toggle {
        margin: 0.5rem;
        margin-top: 5px; // add a margin to the top of each button
        border-radius: 10px;
        color: #333;
        font-size: 1rem;
        display: block;

        border: 1px solid #333 !important;
        background-color: transparent;
        color: #333;

        &.mat-button-toggle-checked {
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff !important;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-8 {
    flex-basis: calc(80% - 20px);
    max-width: calc(80% - 20px);
}

.col-2 {
    flex-basis: calc(20% - 20px);
    max-width: calc(20% - 20px);
}

h4 {
    padding-top: 2rem;
}

h5 {
    margin-top: 1rem;
}

.col-btn {
    width: 100%;
    margin-bottom: 0.5rem;
}