<c-card class="error-container" *ngIf="showErrorState" style="margin-bottom: 1rem;">
  <div class="text-area">
      <p>{{ errorText }}</p>
  </div>
</c-card>

<c-card class="mb-4">
  <c-card-body>
    <div class="row" style="display: flex; align-items: center;" *ngIf="transcriptIsLoading">
      <c-spinner color="info" style="margin-top: 1rem; margin-left: 1rem;"></c-spinner>
      <p style="margin-top: 1rem;" class="text-medium-emphasis">
        Your script is loading...
      </p>
    </div>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>Script</ng-template>
        <script-details [parentIsLoading]="transcriptIsLoading"></script-details>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Title</ng-template>
        <title-details></title-details>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Media</ng-template>
        <video-media></video-media>
      </mat-step>

    </mat-horizontal-stepper>
  </c-card-body>
</c-card>