<!-- Error Dialog -->
<c-card class="error-container" *ngIf="showErrorState" style="margin-bottom: 1rem;">
  <div class="text-area">
    <p>{{ errorText }}</p>
  </div>
</c-card>

<!-- Main Body -->
<c-card>
  <c-card-body style="min-height: 80vh">
    <form [formGroup]="nicheFormGroup">

      <!-- Search Bar -->
      <c-input-group class="mb-3" style="padding: 1rem;">
        <button cButton color="primary" id="button-addon1" type="button" variant="outline">
          <svg cIcon name="cilMagnifyingGlass"></svg>
        </button>
        <input aria-describedby="button-addon1" aria-label="Search bar" cFormControl placeholder="Search..." />
      </c-input-group>

      <!-- Niche Selection -->
      <mat-button-toggle-group formControlName="selectedNiche">
        <mat-button-toggle *ngFor="let videoOption of videoNiches" [value]="selectedVideoNiche"
          (click)="onVideoOptionSelected(videoOption)">
          {{ videoOption.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>

      <!-- Empty State -->
      <div class="empty-state" stlye="width:100%; height: 100%" *ngIf="isLoading === false && youtubeVideos.length <= 0">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5 11C20.5 9.5 19.5 8.5 18 8.5C16.5 8.5 15.5 9.5 15.5 11C15.5 12.5 16.5 13.5 18 13.5C19.5 13.5 20.5 12.5 20.5 11ZM14.5 11C14.5 8.8 16.3 7 18.5 7C20.7 7 22.5 8.8 22.5 11C22.5 13.2 20.7 15 18.5 15C16.3 15 14.5 13.2 14.5 11ZM2.5 11C2.5 8.8 4.3 7 6.5 7C8.7 7 10.5 8.8 10.5 11C10.5 13.2 8.7 15 6.5 15C4.3 15 2.5 13.2 2.5 11ZM12.5 11C12.5 9.3 10.8 8 8.5 8C6.2 8 4.5 9.3 4.5 11C4.5 12.7 6.2 14 8.5 14C10.8 14 12.5 12.7 12.5 11Z" fill="currentColor"></path>
        </svg>
        <h1>TubeMaker</h1>
        <p>Vous êtes à quelques minutes de quelque chose de génial</p>
      </div>

      <!-- Videos Loading Spinner -->
      <div class="row" *ngIf="isLoading">
        <c-spinner color="info" style="margin: 2rem;"></c-spinner>
        <p style="margin-left: 1rem;" class="text-medium-emphasis">
          À la recherche des vidéos les plus virales...
      </div>

      <div stlye="margin-top: 2rem;" *ngIf="!isLoading">
        <video-grid [parentVideos]="youtubeVideos" (itemSelectEvent)="onItemSelectedEvent($event)"></video-grid>
      </div>
    </form>
  </c-card-body>
</c-card>
