<!-- Error Dialog -->
<c-card class="error-container" *ngIf="showErrorState" style="margin-bottom: 1rem;">
  <div class="text-area">
    <p>{{ errorText }}</p>
  </div>
</c-card>

<!-- Main Body -->
<c-card>
  <c-card-body style="min-height: 80vh">
    <form [formGroup]="nicheFormGroup">

      <!-- Search Bar -->
      <c-input-group class="mb-3" style="padding: 1rem;">
        <button cButton color="primary" id="button-addon1" type="button" variant="outline">
          <svg cIcon name="cilMagnifyingGlass"></svg>
        </button>
        <input aria-describedby="button-addon1" aria-label="Search bar" cFormControl placeholder="Search..." />
      </c-input-group>

      <!-- Niche Selection -->
      <mat-button-toggle-group formControlName="selectedNiche">
        <mat-button-toggle *ngFor="let videoOption of videoNiches" [value]="selectedVideoNiche"
          (click)="onVideoOptionSelected(videoOption)">
          {{ videoOption.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>

      <!-- Videos Loading Spinner -->
      <div class="row" *ngIf="isLoading">
        <c-spinner color="info" style="margin: 2rem;"></c-spinner>
        <p style="margin-left: 1rem;" class="text-medium-emphasis">
          Getting videos from Youtube
      </div>

      <!-- Video Grid List -->
      <div class="grid-container" style="margin: 1rem;">
        <div class="grid-item" cListGroup *ngFor="let video of searchVideos" style="margin-top: 1rem;">
          <!-- Thumbnail Formatter -->
          <div class="stretchy-wrapper">
            <div class="hover-overlay">
              <button type="button" class="mybuttonoverlap btn btn-danger" (click)="onCopyCatClick(video)">Copy
                Cat</button>
              <img class="myimageoverlap" [src]="video.thumbnailUrl" alt="Responsive image"
                style="overflow: hidden; width:100%;" />
            </div>
          </div>
          <!-- Thumbnail Text -->
          <div style="padding: 1rem;">
            <h5>{{ video.title }}</h5>
            <p class="text-mediumemphasis" style="margin: 0">@{{ video.channelTitle }}</p>
            <p class="text-medium-emphasis small" class="published">{{ 'video_list.published' | translate }}: {{
              video.publishedAt }}</p>
            <!-- View Count Icons -->  
            <div class="row" style="margin: 0;">
              <div class="col-3">
                <svg cIcon name="cibYoutube" style="width: 100%"></svg>
                <p class="text-medium-emphasis" class="views"  style="width: 100%; text-align: center;">{{ video.statistics.viewCount }}</p>
              </div>
              <div class="col-3">
                <svg cIcon name="cilThumbUp" style="width: 100%"></svg>
                <p class="text-medium-emphasis" class="likes" style="width: 100%; text-align: center;">{{ video.statistics.likeCount }}</p>
              </div>
              <div class="col-3">
                <svg cIcon name="cilCommentBubble" style="width: 100%"></svg>
                <p class="text-medium-emphasis" class="comments" style="width: 100%; text-align: center;">{{ video.statistics.commentCount }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </c-card-body>
</c-card>