<div>
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <h4>{{ 'improve_script_with_ai.title' | translate }}</h4>
    <div style="display: flex; align-items: center; padding: 0; margin:0">
      <button class="ai-button" cButton shape="rounded-pill" color="light" (click)="copyScript()">{{
        'video_review_card.copy_script_button' | translate }}</button>
      <c-badge color="danger" position="absolute" shape="rounded-pill"
        [ngClass]="{'d-none': !showScriptBadge}">
        {{ 'video_review_card.copied_badge' | translate }}
      </c-badge>
    </div>
  </div>
  <p class="text-medium-emphasis">{{ currentVideoDuration.description }}</p>
  <form [formGroup]="parentScriptFormGroup">

    <div *ngFor="let section of currentVideoDuration.sections; let i = index">
      <div style="display: flex; flex-grow: 1;">
        <textarea 
          autosize
          style="height: auto; margin-bottom: 0.5rem; width: 100%; border: none;" 
          cFormControl 
          formControlName="{{ section.controlName }}">
        </textarea>
        <div style="display: flex; align-items: start;">
          <c-dropdown #dropdown direction="dropstart" variant="btn-group">
            <button 
                cButton 
                cDropdownToggle 
                shape="rounded-pill" 
                color="light" 
                class="ai-button"
                *ngIf="i === 0"
                [disabled]="section.isLoading">
                    {{ 'extract.use_ai' | translate }}
                <c-spinner *ngIf="section.isLoading" size="sm"></c-spinner>
            </button>
            <ul cDropdownMenu class="custom-dropdown-menu">
                <li>
                    <button cDropdownItem (click)="onImproveClick('funnier', section)" style="display: flex; align-items: center;">
                        <svg style="width: 28px; height: 28px; margin-right: 1rem;" cIcon name="cilSmilePlus"></svg>
                        <div style="flex-grow: 1;">
                            <strong>{{'extract.funnier' | translate }}</strong>
                            <p class="text-medium-emphasis" style="padding-left: 1rem; white-space: normal; overflow-wrap: break-word;">
                                {{ 'extract.funnier_description' | translate }}
                            </p>
                        </div>
                    </button>
                </li>
                <li>
                    <hr cDropdownDivider>
                </li>
                <li>
                    <button cDropdownItem (click)="onImproveClick('formal', section)" style="display: flex; align-items: center;">
                        <svg style="width: 32px; height: 32px; margin-right: 1rem;" cIcon name="cilChartPie"></svg>
                        <div style="flex-grow: 1;">
                            <strong>{{'extract.formal' | translate }}</strong>
                            <p class="text-medium-emphasis" style="padding-left: 1rem; white-space: normal; overflow-wrap: break-word;">
                                {{ 'extract.formal_description' | translate }}
                            </p>
                        </div>
                    </button>
                </li>
                <li>
                    <hr cDropdownDivider>
                </li>
                <li>
                    <button cDropdownItem (click)="onImproveClick('simpler', section)" style="display: flex; align-items: center;">
                        <svg style="width: 32px; height: 32px; margin-right: 1rem;" cIcon name="cilSpeech"></svg>
                        <div style="flex-grow: 1;">
                            <strong>{{'extract.simpler' | translate }}</strong>
                            <p class="text-medium-emphasis" style="padding-left: 1rem; white-space: normal; overflow-wrap: break-word;">
                                {{ 'extract.simpler_description' | translate }}
                            </p>
                        </div>
                    </button>
                </li>
                <li>
                    <hr cDropdownDivider>
                </li>
                <li>
                    <button cDropdownItem (click)="onImproveClick('expand', section)" style="display: flex; align-items: center;">
                        <svg style="width: 28px; height: 28px; margin-right: 1rem;" cIcon name="cilResizeHeight"></svg>
                        <div style="flex-grow: 1;">
                            <strong>{{'extract.expand' | translate }}</strong>
                            <p class="text-medium-emphasis" style="padding-left: 1rem; white-space: normal; overflow-wrap: break-word;">
                                {{ 'extract.expand_description' | translate }}
                            </p>
                        </div>
                    </button>
                </li>
                <li>
                    <hr cDropdownDivider>
                </li>
                <li>
                    <button cDropdownItem (click)="onImproveClick('shorten', section)" style="display: flex; align-items: center;">
                        <svg style="width: 32px; height: 32px; margin-right: 1rem;" cIcon name="cilListFilter"></svg>
                        <div style="flex-grow: 1;">
                            <strong>{{'extract.shorten' | translate }}</strong>
                            <p class="text-medium-emphasis" style="padding-left: 1rem; white-space: normal; overflow-wrap: break-word;">
                                {{ 'extract.shorten_description' | translate }}
                            </p>
                        </div>
                    </button>
                </li>
            </ul>
        </c-dropdown>
          <!-- <c-dropdown #dropdown direction="dropstart" variant="btn-group">
              <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button"
                  [disabled]="section.isLoading">
                  {{ 'extract.use_ai' | translate }}
                  <c-spinner *ngIf="section.isLoading" size="sm"></c-spinner>
              </button>
              <ul cDropdownMenu class="custom-dropdown-menu">
                  <li class="dropdown-header">{{ 'extract.choose_how_to_improve' | translate }}</li>
                  <li>
                      <hr cDropdownDivider>
                  </li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('funnier', section)">{{ 'extract.funnier' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('formal', section)">{{ 'extract.formal' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('simpler', section)">{{ 'extract.simpler' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('expand', section)">{{ 'extract.expand' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('shorten', section)">{{ 'extract.shorten' | translate }}rten</button></li>
              </ul>
          </c-dropdown> -->
      </div>
      </div>
    </div>
  </form>
</div>
