<div>
  <h4>{{ 'improve_script_with_ai.title' | translate }}</h4>
  <p class="text-medium-emphasis">{{ currentVideoDuration.description }}</p>
  <form [formGroup]="parentScriptFormGroup">

    <div *ngFor="let section of currentVideoDuration.sections">
      <div style="display: flex; flex-grow: 1;">
        <textarea 
          autosize
          style="height: auto; margin-bottom: 0.5rem; width: 100%; border: none;" 
          cFormControl 
          formControlName="{{ section.controlName }}">
        </textarea>
        <div style="display: flex; align-items: center;">
          <c-dropdown #dropdown direction="dropstart" variant="btn-group">
              <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button"
                  [disabled]="section.isLoading">
                  {{ 'extract.use_ai' | translate }}
                  <c-spinner *ngIf="section.isLoading" size="sm"></c-spinner>
              </button>
              <ul cDropdownMenu class="custom-dropdown-menu">
                  <li class="dropdown-header">{{ 'extract.choose_how_to_improve' | translate }}</li>
                  <li>
                      <hr cDropdownDivider>
                  </li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('funnier', section)">{{ 'extract.funnier' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('formal', section)">{{ 'extract.formal' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('simpler', section)">{{ 'extract.simpler' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('expand', section)">{{ 'extract.expand' | translate }}</button></li>
                  <li><button cDropdownItem
                          (click)="onImproveClick('shorten', section)">{{ 'extract.shorten' | translate }}rten</button></li>
              </ul>
          </c-dropdown>
      </div>
      </div>
    </div>
  </form>
</div>
