<div *ngIf="parentIsLoading" stlye="margin: 1rem;">
    <c-spinner></c-spinner>
    <p style="color: gray">{{ 'extract.loading' | translate }}</p>
</div>
<div *ngIf="!parentIsLoading" style="margin-top: 1rem;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h5>{{ 'extract.edit_your_script' | translate }}</h5>
        <div style="display: flex; align-items: center; padding: 0; margin:0">
            <button class="ai-button" cButton shape="rounded-pill" color="light" (click)="copyScript()">{{
                'video_review_card.copy_script_button' | translate }}</button>
            <c-badge color="danger" position="absolute" shape="rounded-pill" [ngClass]="{'d-none': !showScriptBadge}">
                {{ 'video_review_card.copied_badge' | translate }}
            </c-badge>
        </div>
    </div>

    <p class="text-medium-emphasis" style="padding-right: 1rem;;">
        {{ 'extract.edit_your_script_description' | translate }}
    </p>
    <div cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div cdkDrag [cdkDragDisabled]="!dragIsEnabled" cdkDragLockAxis="y"
            *ngFor="let tran of transcriptSections; let i = index" class="section-row"
            style="padding-bottom: 0.5rem; padding-top: 0.5rem; padding-right: 1rem;">
            <div class="col-8">
                <div style="display: flex; justify-content: space-between; flex-direction: row;">
                    <div cdkDragHandle>
                        <svg cIcon name="cilApps" style="margin-top: 0.75rem;"></svg>
                    </div>
                    <textarea autosize cFormControl [readOnly]="false" [(ngModel)]="transcriptSections[i].section">
                        </textarea>
                </div>
            </div>
            <div class="col-1">
                <div style="display: flex; justify-content: center;">
                    <c-dropdown #dropdown direction="dropstart" variant="btn-group">
                        <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button"
                            [disabled]="transcriptSections[i].isLoading">
                            {{ 'extract.use_ai' | translate }}
                            <c-spinner *ngIf="transcriptSections[i].isLoading" size="sm"></c-spinner>
                        </button>
                        <ul cDropdownMenu class="custom-dropdown-menu">
                            <li class="dropdown-header">{{ 'extract.choose_how_to_improve' | translate }}</li>
                            <li>
                                <hr cDropdownDivider>
                            </li>
                            <li><button cDropdownItem (click)="onImproveClick('funnier', transcriptSections[i], i)">{{
                                    'extract.funnier' | translate }}</button></li>
                            <li><button cDropdownItem (click)="onImproveClick('formal', transcriptSections[i], i)">{{
                                    'extract.formal' | translate }}</button></li>
                            <li><button cDropdownItem (click)="onImproveClick('simpler', transcriptSections[i], i)">{{
                                    'extract.simpler' | translate }}</button></li>
                            <li><button cDropdownItem (click)="onImproveClick('expand', transcriptSections[i], i)">{{
                                    'extract.expand' | translate }}</button></li>
                            <li><button cDropdownItem (click)="onImproveClick('shorten', transcriptSections[i], i)">{{
                                    'extract.shorten' | translate }}</button></li>
                        </ul>
                    </c-dropdown>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
