<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <span class="clearfix">
          <h1 class="float-start display-3 me-4">500</h1>
          <h4 class="pt-3">{{ 'pages.houston_problem' | translate }}</h4>
          <p class="text-medium-emphasis float-start">
            {{ 'pages.page_temporarily_unavailable' | translate }}
          </p>
        </span>
        <c-input-group class="input-prepend">
          <span cInputGroupText>
            <svg cIcon name="cilMagnifyingGlass"></svg>
          </span>
          <input cFormControl [placeholder]="'pages.search_placeholder' | translate" type="text" />
          <button cButton [innerHTML]="'pages.search_button' | translate" color="info"></button>
        </c-input-group>
      </c-col>
    </c-row>
  </c-container>
</div>