<c-card class="mb-4">
  <c-card-header>Create Youtube Video</c-card-header>
  <c-card-body>
    <p class="text-medium-emphasis small">
      Add nearly any HTML within, even for linked list groups like the one
      below, with the help of
      <a href="https://coreui.io/docs/utilities/flex/">flexbox utilities</a
      >.
    </p>

      <div cListGroup>
        <a cListGroupItem href>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed
            diam eget risus varius blandit.
          </p>
          <small>Donec id elit non mi porta.</small>
        </a>

        <a cListGroupItem href>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-medium-emphasis">3 days ago</small>
          </div>
          <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed
            diam eget risus varius blandit.
          </p>
          <small class="text-medium-emphasis"
          >Donec id elit non mi porta.</small
          >
        </a>

        <a cListGroupItem href>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-medium-emphasis">3 days ago</small>
          </div>
          <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed
            diam eget risus varius blandit.
          </p>
          <small class="text-medium-emphasis"
          >Donec id elit non mi porta.</small
          >
        </a>

      </div>

  </c-card-body>
</c-card>