<c-card class="mb-4">
  <c-card-body>

    <div style="display: flex; align-items: center;" *ngIf="contentGenerationIsLoading">
      <c-progress class="mb-3" style="width: 100%">
        <c-progress-bar [value]="contentProgressValue"></c-progress-bar>
      </c-progress>
    </div>
    <p *ngIf="contentGenerationIsLoading" style="margin: 1rem;" class="text-medium-emphasis">
      {{ contentProgressLabel }}
    </p>
    <div style="display: flex; align-items: center;" *ngIf="contentGenerationIsLoading">
      <c-progress class="mb-3" style="width: 100%">
        <c-progress-bar [value]="scriptProgressValue"></c-progress-bar>
      </c-progress>
    </div>
    <p *ngIf="contentGenerationIsLoading" style="margin: 1rem;" class="text-medium-emphasis">
      {{ scriptProgressLabel }}
    </p>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="infoFormGroup" *ngIf="!contentGenerationIsLoading">
        <h4>{{ 'video_editor.make_video_your_own_title' | translate }}</h4>
        <p class="text-medium-emphasis small">
          {{ 'video_editor.edit_video_context' | translate }}
        </p>
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel>{{ 'video_editor.text' | translate }}</ng-template>

          <h5>{{ 'video_editor.title_label' | translate }}</h5>
          <div class="row">
            <div class="col-8">
              <textarea 
                autosize
                style="height: 100%; margin-bottom: 0.5rem;" 
                cFormControl 
                formControlName="title">
            </textarea>
            </div>
            <div class="col-2">
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isTitleLoading"
                  (click)="rerollTitle()">
                  <c-spinner *ngIf="isTitleLoading" size="sm"></c-spinner>
                  {{ 'video_editor.new' | translate }}
                </button>
              </div>
            </div>
          </div>

          <h5>{{ 'video_editor.description_label' | translate }}</h5>
          <div class="row">
            <div class="col-8">
              <textarea  
                autosize
                style="height: 100%; margin-bottom: 0.5rem;" 
                cFormControl 
                formControlName="description" >
            </textarea>
            </div>
            <div class="col-2">
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isDescLoading"
                  (click)="rerollDescription()">
                  <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
                  {{ 'video_editor.new' | translate }}
                </button>
              </div>
            </div>
          </div>

          <h5>{{ 'video_editor.tags_label' | translate }}</h5>
          <div class="row">
            <div class="col-8">
              <textarea autosize style="height: 100%; margin-bottom: 0.5rem;" cFormControl formControlName="tags">
            </textarea>
            </div>
            <div class="col-2">
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="col-btn" variant="outline" color="dark" [disabled]="isTagsLoading"
                  (click)="rerollTags()">
                  <c-spinner *ngIf="isTagsLoading" size="sm"></c-spinner>
                  {{ 'video_editor.new' | translate }}
                </button>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
            <button cButton variant="outline" color="dark" (click)="onReset()">{{ 'video_editor.reset_content_button' | translate }}</button>
            <button 
              class="btn btn-primary" 
              style="margin-left: 1rem;" 
              matStepperNext 
              (click)="onInfoSectionClick()">
              {{ 'video_editor.next_step_button' | translate }}
              </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="scriptFormGroup" *ngIf="!contentGenerationIsLoading">
        <ng-template matStepLabel>{{ 'video_editor.script' | translate }}</ng-template>
        <video-script [parentScriptFormGroup]="scriptFormGroup"></video-script>
      </mat-step>

      <mat-step *ngIf="!contentGenerationIsLoading">
        <ng-template matStepLabel>{{ 'video_editor.media' | translate }}</ng-template>
        <auto-media></auto-media>
      </mat-step>

    </mat-horizontal-stepper>

    <c-card class="container" *ngIf="hasInputError" style="margin-bottom: 1rem;">
      <div class="text-area">
          <p>{{ 'video_editor.error_message.complete_forms' | translate }}</p>
      </div>
  </c-card>

  </c-card-body>
</c-card>