<c-card class="mb-4">
  <c-card-body>
    <!-- Loading Page -->
    <div style="display: flex; align-items: center;" *ngIf="contentGenerationIsLoading">
      <c-progress class="mb-3" style="width: 100%">
        <c-progress-bar [value]="contentProgressValue"></c-progress-bar>
      </c-progress>
    </div>
    <p *ngIf="contentGenerationIsLoading" style="margin: 1rem;" class="text-medium-emphasis">
      {{ contentProgressLabel }}
    </p>
    <div style="display: flex; align-items: center;" *ngIf="contentGenerationIsLoading">
      <c-progress class="mb-3" style="width: 100%">
        <c-progress-bar [value]="scriptProgressValue"></c-progress-bar>
      </c-progress>
    </div>
    <p *ngIf="contentGenerationIsLoading" style="margin: 1rem;" class="text-medium-emphasis">
      {{ scriptProgressLabel }}
    </p>

    <!-- Main Page -->
    <div *ngIf="!contentGenerationIsLoading">
      <!-- Video Placeholder -->
      <div class="section-row">
        <div class="col-8">
          <div class="ratio ratio-16x9">
            <div class="embed-responsive embed-responsive-16by9">
              <div style="position: relative; width: 97%; height: 0; padding-top: 56.2500%;
                padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-bottom: 0.9em; overflow: hidden;
                border-radius: 8px; will-change: transform;">
                <iframe loading="lazy"
                  style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                  src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFi7dFKD-w&#x2F;view?embed">
                </iframe>
              </div>
            </div>
          </div>

          <!-- Metadata Section -->
          <form [formGroup]="infoFormGroup">

            <div class="section-row" style="margin-top: 1rem; border: 0;">
              <input style="height: 100%; margin-bottom: 0.5rem; flex: 1;" cFormControl
                formControlName="title" />
              <c-dropdown #dropdown direction="dropstart" variant="btn-group">
                <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button"
                  [disabled]="isTitleLoading">
                  {{ 'extract.use_ai' | translate }}
                  <c-spinner *ngIf="isTitleLoading" size="sm"></c-spinner>
                </button>
                <ul cDropdownMenu class="custom-dropdown-menu">
                  <li class="dropdown-header">{{ 'extract.choose_how_to_improve' | translate }}</li>
                  <li>
                    <hr cDropdownDivider>
                  </li>
                  <li><button cDropdownItem (click)="onTitleImproveClick('funnier')">{{ 'extract.funnier' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onTitleImproveClick('formal')">{{ 'extract.formal' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onTitleImproveClick('simpler')">{{ 'extract.simpler' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onTitleImproveClick('expand')">{{ 'extract.expand' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onTitleImproveClick('shorten')">{{ 'extract.shorten' | translate }}</button></li>
                </ul>
              </c-dropdown>
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button class="ai-button" cButton shape="rounded-pill" color="light" (click)="copyTitle()">{{
                  'video_review_card.copy_button' | translate }}</button>
                <c-badge color="danger" position="absolute" shape="rounded-pill"
                  [ngClass]="{'d-none': !showTitleBadge}">
                  {{ 'video_review_card.copied_badge' | translate }}
                </c-badge>
              </div>
            </div>

            <div class="metadata-row" style="margin-top: 1rem;">
              <textarea autosize style="height: 100%; margin-bottom: 0.5rem; background-color: #F2F2F2;" cFormControl
                formControlName="description">
            </textarea>
              <c-dropdown #dropdown direction="dropstart" variant="btn-group">
                <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button"
                  [disabled]="isDescLoading">
                  {{ 'extract.use_ai' | translate }}
                  <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
                </button>
                <ul cDropdownMenu class="custom-dropdown-menu">
                  <li class="dropdown-header">{{ 'extract.edit_your_script' | translate }}</li>
                  <li>
                    <hr cDropdownDivider>
                  </li>
                  <li><button cDropdownItem (click)="onDescriptionImproveClick('funnier')">{{ 'extract.funnier' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onDescriptionImproveClick('formal')">{{ 'extract.formal' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onDescriptionImproveClick('simpler')">{{ 'extract.simpler' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onDescriptionImproveClick('expand')">{{ 'extract.expand' | translate }}</button></li>
                  <li><button cDropdownItem (click)="onDescriptionImproveClick('shorten')">{{ 'extract.shorten' | translate }}</button></li>
                </ul>
              </c-dropdown>
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button class="ai-button" cButton shape="rounded-pill" color="light" (click)="copyDescription()">{{
                  'video_review_card.copy_button' | translate }}</button>
                <c-badge color="danger" position="absolute" shape="rounded-pill"
                  [ngClass]="{'d-none': !showDescriptionBadge}">
                  {{ 'video_review_card.copied_badge' | translate }}
                </c-badge>
              </div>
            </div>

            <div class="metadata-row">
              <textarea autosize style="height: 100%; margin-bottom: 0.5rem; background-color: #F2F2F2;" cFormControl
                formControlName="tags">
              </textarea>
              <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton class="ai-button" shape="rounded-pill" color="light" [disabled]="isTagsLoading"
                  (click)="rerollTags()">
                  <c-spinner *ngIf="isTagsLoading" size="sm"></c-spinner>
                  {{ 'video_editor.new' | translate }}
                </button>
              </div>
            </div>
          </form>

        </div>
        <div class="col-2">
          <auto-media></auto-media>
        </div>
      </div>

      <div *ngIf="!contentGenerationIsLoading">
        <video-script  [parentScriptFormGroup]="scriptFormGroup"></video-script>
      </div>
    </div>

  </c-card-body>
</c-card>
