.container {
  display: flex;
  flex-direction: row;

  .btn {
    /* Make the buttons grow to fill the container */
    flex: 1;
    /* Set the height to match the container height */
    height: 100%;
    /* Split the container into two equal halves */
    width: 50%;
    margin: 0.5rem;
  }
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  width: 49%;
  margin: 4px;
}

.responsive-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 aspect ratio */
  background-color: lightgrey;
}

.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.mat-input-element {
  background-color: #fff;
  border-radius: 10px;
}

.flex-grow-1 {
  padding-right: 1rem;
}

.d-flex {
  padding-top: 1rem;
}

textarea {
  width: 100%;
  height: auto;
  border: none;
}

.tags-textarea {
  font-size: 14px;
  font-weight: bold;
  background-color: #F2F2F2;
}

input {
  width: 100%;
  height: auto;
  border: none;
  font-weight: bold;
}

.section-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.metadata-row {
  display: flex; 
  flex-grow: 1;
  // display: flex;
  // flex-wrap: wrap;
  width: 100%;
  flex-direction: row;

  align-items: flex-start; 
  background-color: #F2F2F2; 
  padding-top: 1rem;  
  padding: 0.5rem; 
  // width: 100%; 
}

.custom-dropdown-menu {
  width: 130%;
  font-weight: bold;
}

.dropdown-header {
  font-weight: bold;
  color: darkslategray;
  flex-wrap: wrap;
  white-space: normal;
}

.ai-button {
  border: 1px solid gray; 
  margin-left: 0.25rem; 
  margin-right: 0.25rem;
  display: inline-block;
  margin-top: 0.75rem;
}

.col-8 {
  flex-basis: calc(85%);
  max-width: calc(85%);
}

.col-2 {
  flex-basis: calc(15%);
  max-width: calc(15%);
}
