mat-button-toggle-group {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border: none;
  
    mat-button-toggle {
      margin: 0.5rem;
      border-radius: 20px;
      background-color: #f0f0f0;
      color: #333;
      font-size: 1rem;
  
      &.mat-button-toggle-checked {
        background-color: #007bff;
        color: #fff;
      }
    }
  }