<c-card class="mb-4">
    <div class="d-flex justify-content-between align-items-center" style="margin: 1rem;">
        <strong>Review Video Details</strong>
        <button type="button" class="btn btn-danger" cTextColor="white" (click)="loginOnClick()">Publish to
            Youtube</button>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h5>Title</h5>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton variant="outline" color="primary" (click)="copyTitle()">Copy</button>
                <c-badge color="danger" position="top-start" shape="rounded-pill" [ngClass]="{'d-none': !showTitleBadge}">
                    Copied!
                </c-badge>
            </div>
        </div>
        <div class="mb-3 flex-grow-1" style="margin-bottom: 1rem;">
            <p cFormControl style="margin-top: 1rem; margin-bottom: 1rem;" class="text-medium-emphasis small">
                {{ title }}
            </p>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <h5>Description</h5>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton variant="outline" color="primary" (click)="copyDescription()">Copy</button>
                <c-badge color="danger" position="top-start" shape="rounded-pill" [ngClass]="{'d-none': !showDescriptionBadge}">
                    Copied!
                </c-badge>
            </div>
        </div>
        <div class="mb-3" style="margin-bottom: 1rem;">
            <p cFormControl style="margin-top: 1rem; margin-bottom: 1rem;" class="text-medium-emphasis small">
                {{ description }}
            </p>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <h5>Tags</h5>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton variant="outline" color="primary" (click)="copyTags()">Copy</button>
                <c-badge color="danger" position="top-start" shape="rounded-pill" [ngClass]="{'d-none': !showTagsBadge}">
                    Copied!
                </c-badge>
            </div>
        </div>
        <div class="mb-3" style="margin-bottom: 1rem;">
            <p cFormControl style="margin-top: 1rem; margin-bottom: 1rem;" class="text-medium-emphasis small">
                {{ tags }}
            </p>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <h5>Script</h5>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
                <button cButton variant="outline" color="primary" (click)="copyScript()">Copy</button>
                <c-badge color="danger" position="top-start" shape="rounded-pill" [ngClass]="{'d-none': !showScriptBadge}">
                    Copied!
                </c-badge>
            </div>
        </div>
        <div class="mb-3" style="margin-bottom: 1rem;">
            <pre cFormControl style="margin-top: 1rem; margin-bottom: 1rem;" class="text-medium-emphasis small">
                {{ script }}
            </pre>
        </div>

        <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
            <button cButton variant="outline" color="primary" (click)="onResetMedia()">Reset Media</button>
            <button cButton variant="outline" color="primary" style="margin-left: 1rem;" (click)="onResetContent()">
                Reset Content
            </button>
        </div>
    </div>
</c-card>