<youtubeauth></youtubeauth>

<c-card class="mb-4" style="margin-top: 2rem;">
  <div class="d-flex justify-content-between align-items-center" style="margin: 1rem;">
    <strong>Published Youtube Videos</strong>
    <button type="button" class="btn btn-primary" (click)="newVideoOnClick()">Click To Create a New Video</button>
  </div>

  <c-card-body>
    <p class="text-medium-emphasis small">
      Select a video from the list to edit or create a new one by clicking the 'New Video' button.
    </p>

    <div class="video-list" cListGroup *ngFor="let video of videos">
      <div cListGroupItem>
        <div class="d-flex justify-content-between align-items-center">
          <div class="title-published">
            <p class="mb-1">{{ video.title }}</p>
          </div>
        </div>
        <div class="description">
          <small>{{ video.channelTitle }}</small>
          <small class="published">Published: {{ video.publishedAt }}</small>
        </div>
      </div>
    </div>
  </c-card-body>
</c-card>
