<div>
  <form [formGroup]="titleFormGroup" style="padding-top: 1rem;;">

    <div class="section-row" style="align-items: center;">
      <input sizing="lg" style="height: 100%; margin-bottom: 0.5rem; flex: 1;" cFormControl formControlName="title" />
      <c-dropdown #dropdown direction="dropstart" variant="btn-group">
        <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button" [disabled]="isTitleLoading">
          Utiliser IA
          <c-spinner *ngIf="isTitleLoading" size="sm"></c-spinner>
        </button>
        <ul cDropdownMenu class="custom-dropdown-menu">
          <li class="dropdown-header">Pick a way to improve this script:</li>
          <li>
            <hr cDropdownDivider>
          </li>
          <li><button cDropdownItem (click)="onTitleImproveClick('funnier')">Plus amusant</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('formal')">Officiel</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('simpler')">Plus simple</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('expand')">Développer</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('shorten')">Raccourcir</button></li>
        </ul>
      </c-dropdown>
      <div style="display: flex; align-items: center; padding: 0; margin:0">
        <button class="ai-button" cButton shape="rounded-pill" color="light" (click)="copyTitle()">{{
            'video_review_card.copy_button' | translate }}</button>
        <c-badge color="danger" position="absolute" shape="rounded-pill"
            [ngClass]="{'d-none': !showTitleBadge}">
              {{ 'video_review_card.copied_badge' | translate }}
          </c-badge>
      </div>
      <div class="section-row" style="align-items: flex-start; background-color: #F2F2F2; margin-top: 1rem;  padding: 0.5rem; width: 100%; ">
        <textarea autosize style="height: 100%;  margin-bottom: 0.5rem; flex: 1;" cFormControl
          formControlName="description"></textarea>
        <c-dropdown #dropdown direction="dropstart" variant="btn-group">
          <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button"
            [disabled]="isDescLoading">
            Utiliser IA
            <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
          </button>
          <ul cDropdownMenu class="custom-dropdown-menu">
            <li class="dropdown-header">Choisissez un moyen d'améliorer ce script:</li>
            <li>
              <hr cDropdownDivider>
            </li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('funnier')">Plus amusant</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('formal')">Officiel</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('simpler')">Plus simple</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('expand')">Développer</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('shorten')">Raccourcir</button></li>
          </ul>
        </c-dropdown>
        <div style="display: flex; align-items: center; padding: 0; margin:0">
          <button class="ai-button" cButton shape="rounded-pill" color="light"  (click)="copyDescription()">{{
              'video_review_card.copy_button' | translate }}</button>
          <c-badge color="danger" position="absolute" shape="rounded-pill"
              [ngClass]="{'d-none': !showDescriptionBadge}">
                {{ 'video_review_card.copied_badge' | translate }}
            </c-badge>
        </div>
      </div>
      <div class="section-row" style="align-items: flex-start; background-color: #F2F2F2; padding: 0.5rem; width: 100%;">
        <textarea class="tags-textarea" autosize style="height: 100%; margin-bottom: 0.5rem; margin-top: 1rem; flex: 1;"
          cFormControl formControlName="tags">
        </textarea>
        <button cButton class="ai-button" shape="rounded-pill" color="light" [disabled]="isTagsLoading" (click)="rerollTags()">
          <c-spinner *ngIf="isTagsLoading" size="sm"></c-spinner>
          Nouveau
        </button>
        <div style="display: flex; align-items: center; padding: 0; margin:0">
          <button class="ai-button" cButton shape="rounded-pill" color="light" (click)="copyTags()">{{
              'video_review_card.copy_button' | translate }}</button>
          <c-badge color="danger" position="absolute" shape="rounded-pill"
              [ngClass]="{'d-none': !showTagsBadge}">
                {{ 'video_review_card.copied_badge' | translate }}
            </c-badge>
        </div>
      </div>
    </div>
  </form>
</div>
