<div>
  <form [formGroup]="infoFormGroup" style="padding-top: 1rem;;">

    <div class="section-row" style="align-items: center;">
      <input sizing="lg" style="height: 100%; margin-bottom: 0.5rem; flex: 1;" cFormControl formControlName="title" />
      <c-dropdown #dropdown direction="dropstart" variant="btn-group">
        <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button" [disabled]="isDescLoading">
          Use AI
          <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
        </button>
        <ul cDropdownMenu class="custom-dropdown-menu">
          <li class="dropdown-header">Pick a way to improve this script:</li>
          <li>
            <hr cDropdownDivider>
          </li>
          <li><button cDropdownItem (click)="onTitleImproveClick('funnier')">Funnier</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('formal')">Formal</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('simpler')">Simpler</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('expand')">Expand</button></li>
          <li><button cDropdownItem (click)="onTitleImproveClick('shorten')">Shorten</button></li>
        </ul>
      </c-dropdown>
      <div class="section-row" style="align-items: flex-start; background-color: #F2F2F2; margin-top: 1rem;  padding: 0.5rem; width: 100%; ">
        <textarea autosize style="height: 100%;  margin-bottom: 0.5rem; flex: 1;" cFormControl
          formControlName="description"></textarea>
        <c-dropdown #dropdown direction="dropstart" variant="btn-group">
          <button cButton cDropdownToggle shape="rounded-pill" color="light" class="ai-button"
            [disabled]="isDescLoading">
            Use AI
            <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
          </button>
          <ul cDropdownMenu class="custom-dropdown-menu">
            <li class="dropdown-header">Pick a way to improve this script:</li>
            <li>
              <hr cDropdownDivider>
            </li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('funnier')">Funnier</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('formal')">Formal</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('simpler')">Simpler</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('expand')">Expand</button></li>
            <li><button cDropdownItem (click)="onDescriptionImproveClick('shorten')">Shorten</button></li>
          </ul>
        </c-dropdown>
      </div>
      <div class="section-row" style="align-items: flex-start; background-color: #F2F2F2; padding: 0.5rem; width: 100%;">
        <textarea class="tags-textarea" autosize style="height: 100%; margin-bottom: 0.5rem; margin-top: 1rem; flex: 1;"
          cFormControl formControlName="tags">
        </textarea>
        <button cButton class="ai-button" shape="rounded-pill" color="light" [disabled]="isTagsLoading" (click)="rerollTags()">
          <c-spinner *ngIf="isTagsLoading" size="sm"></c-spinner>
          New
        </button>
      </div>
    </div>
  </form>
</div>