<div>
    <h4>Improve Your Listing Data</h4>
    <p class="text-medium-emphasis">
      With your script completed you are ready to improve your listing data.  This is the first impression your audience will have of your video.  Make sure to use our tools to make it better.
    </p>
    <form [formGroup]="infoFormGroup">
      <ng-template matStepLabel>Title</ng-template>

      <h5>Title</h5>
      <div class="section-row">
        <div class="col-8">
          <textarea 
            autosize
            style="height: 100%; margin-bottom: 0.5rem;" 
            cFormControl 
            formControlName="title">
        </textarea>
        </div>
        <!-- Improve this with our Use AI dropdown. From the previous page -->
        <div class="col-2">
          <div style="display: flex; justify-content: center;">
            <c-dropdown #dropdown direction="dropstart" variant="btn-group">
                <button cButton cDropdownToggle color="primary"
                    [disabled]="isTitleLoading" 
                    style="margin-top: 0.75rem;">
                        Use AI
                <c-spinner *ngIf="isTitleLoading" size="sm"></c-spinner>
                </button>
                <ul cDropdownMenu class="custom-dropdown-menu">
                    <li class="dropdown-header">Pick a way to improve this script:</li>
                    <li><hr cDropdownDivider></li>
                    <li><button cDropdownItem (click)="onTitleImproveClick('funnier')">Funnier</button></li>
                    <li><button cDropdownItem (click)="onTitleImproveClick('formal')">Formal</button></li>
                    <li><button cDropdownItem (click)="onTitleImproveClick('simpler')">Simpler</button></li>
                    <li><button cDropdownItem (click)="onTitleImproveClick('expand')">Expand</button></li>
                    <li><button cDropdownItem (click)="onTitleImproveClick('shorten')">Shorten</button></li>
                </ul>
            </c-dropdown>
        </div>
        </div>
      </div>

      <h5>Description</h5>
      <div class="section-row">
        <div class="col-8">
          <textarea  
            autosize
            style="height: 100%; margin-bottom: 0.5rem;" 
            cFormControl 
            formControlName="description" >
          </textarea>
        </div>
        <div class="col-2">
          <div style="display: flex; justify-content: center;">
            <c-dropdown #dropdown direction="dropstart" variant="btn-group">
                <button cButton cDropdownToggle color="primary"
                    [disabled]="isDescLoading" 
                    style="margin-top: 0.75rem;">
                        Use AI
                <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
                </button>
                <ul cDropdownMenu class="custom-dropdown-menu">
                    <li class="dropdown-header">Pick a way to improve this script:</li>
                    <li><hr cDropdownDivider></li>
                    <li><button cDropdownItem (click)="onDescriptionImproveClick('funnier')">Funnier</button></li>
                    <li><button cDropdownItem (click)="onDescriptionImproveClick('formal')">Formal</button></li>
                    <li><button cDropdownItem (click)="onDescriptionImproveClick('simpler')">Simpler</button></li>
                    <li><button cDropdownItem (click)="onDescriptionImproveClick('expand')">Expand</button></li>
                    <li><button cDropdownItem (click)="onDescriptionImproveClick('shorten')">Shorten</button></li>
                </ul>
            </c-dropdown>
          </div>
        </div>
      </div>

      <h5>Tags</h5>
      <div class="section-row">
        <div class="col-8">
          <textarea autosize style="height: 100%; margin-bottom: 0.5rem;" cFormControl formControlName="tags">
        </textarea>
        </div>
        <div class="col-2">
            <!-- Improve this with our Use AI dropdown. From the previous page -->
          <div style="display: flex; align-items: center; padding: 0; margin:0">
            <button cButton class="col-btn"color="primary" [disabled]="isTagsLoading"
              (click)="rerollTags()">
              <c-spinner *ngIf="isTagsLoading" size="sm"></c-spinner>
                Refresh
            </button>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
        <button cButton variant="outline" color="dark" matStepperNext>Go Back</button>
        <button 
          class="btn btn-primary" 
          style="margin-left: 1rem;" 
          matStepperNext 
          (click)="onSubmitClick()">
            Next Step
          </button>
      </div>
    </form>
  </div>