.col-3 {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hover-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.hover-overlay:hover .mybuttonoverlap{
  display: block;
}

.hover-overlay:hover .myimageoverlap {
  opacity: 0.7;
}

.mybuttonoverlap {
  position: absolute;
  z-index: 2;
  display: none;
  width: 60%;
  height: 30%;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: white;
}

.grid-container {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
    
  justify-content: flex-start;
  
  
}

.grid-item {
  // width: 24%;
  margin: 0.5rem;
}

h4 {
  padding-top: 2rem;
}

div.stretchy-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 */
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

div.stretchy-wrapper>div {
  position: absolute;
  top: -20.75%;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-lines: 3; /* Adjust the value as needed based on the line height and font size */
}
