<!-- Video Grid List -->
<div class="grid-container" style="margin: 0.5rem;">
  <div class="grid-item" cListGroup *ngFor="let video of videos" style="margin-top: 1rem;">
    <!-- Thumbnail Formatter -->
    <div class="stretchy-wrapper">
      <div class="hover-overlay">
        <button type="button" class="mybuttonoverlap btn btn-primary" (click)="onVideoClick(video)">
          {{ 'extract.copy_cat' | translate }}
        </button>
        <img class="myimageoverlap" [src]="video.thumbnailUrl" alt="Responsive image"
          style="overflow: hidden; width:100%;" />
      </div>
    </div>
    <!-- Thumbnail Text -->
    <div>
      <strong class="truncate" style="padding-top: 0.5rem;">{{ video.title }}</strong>
      <p class="text-medium-emphasis">@{{ video.channelTitle }}</p>
      <p class="text-medium-emphasis small">{{video.publishedAt}}</p>
    </div>
    <button type="button" class="btn btn-light" (click)="onDeleteClick(video)">
      <svg cIcon class="me-2" name="cilTrash"></svg>
    </button>
  </div>
</div>
