<c-card class="mb-4">
  <c-card-body>

    <div style="display: flex; align-items: center;" *ngIf="isLoading">
      <c-progress class="mb-3" style="width: 100%">
        <c-progress-bar [value]="progressValue"></c-progress-bar>
      </c-progress>
    </div>
    <p *ngIf="isLoading" style="margin-top: 1rem;" class="text-medium-emphasis">
      {{ progressLabel }}
    </p>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="resultsFormGroup" *ngIf="!isLoading">
        <strong>Here's Everything You Need For Your Video</strong>
        <p class="text-medium-emphasis small">
          Go through your new video and make any edits or just click Next!
        </p>
        <form [formGroup]="resultsFormGroup">
          <ng-template matStepLabel>Text</ng-template>

          <div class="d-flex justify-content-between align-items-center">
            <strong>Title</strong>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
              <button cButton variant="outline" color="info" [disabled]="isTitleLoading" (click)="rerollTitle()">
                <c-spinner *ngIf="isTitleLoading" size="sm"></c-spinner>
                Re-Roll
              </button>
            </div>
          </div>
          <div class="mb-3 flex-grow-1" style="margin-bottom: 1rem;">
            <textarea cFormControl style=" margin-top: 1rem; margin-bottom: 1rem;" id="formControlTextarea1"
              formControlName="title">
            </textarea>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <strong>Description</strong>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
              <button cButton variant="outline" color="info" [disabled]="isDescLoading" (click)="rerollDescription()">
                <c-spinner *ngIf="isDescLoading" size="sm"></c-spinner>
                Re-Roll
              </button>
            </div>
          </div>
          <div class="mb-3" style="margin-bottom: 1rem;">
            <textarea cFormControl style="margin-top: 1rem; margin-bottom: 1rem;" id="formControlTextarea2" rows="10"
              formControlName="description">
            </textarea>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <strong>Script</strong>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
              <button cButton variant="outline" color="info" [disabled]="isScriptLoading" (click)="rerollScript()">
                <c-spinner *ngIf="isScriptLoading" size="sm"></c-spinner>
                Re-Roll
              </button>
            </div>
          </div>
          <div class="mb-3" style="margin-bottom: 1rem;">
            <textarea cFormControl style=" margin-top: 1rem; margin-bottom: 1rem;" id="formControlTextarea2" rows="20"
              formControlName="script">
            </textarea>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <strong>Tags</strong>
            <div style="display: flex; align-items: center; padding: 0; margin:0">
              <button cButton variant="outline" color="info" [disabled]="isTagsLoading" (click)="rerollTags()">
                <c-spinner *ngIf="isTagsLoading" size="sm"></c-spinner>
                Re-Roll
              </button>
            </div>
          </div>
          <div class="mb-3" style="margin-bottom: 1rem;">
            <textarea cFormControl style=" margin-top: 1rem; margin-bottom: 1rem;" id="formControlTextarea3"
              formControlName="tags">
            </textarea>
          </div>

          <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
            <button cButton variant="outline" color="dark" (click)="onReset()">Reset Video Content</button>
            <button class="btn btn-primary" style="margin-left: 1rem;" matStepperNext>Go To Next Step</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="mediaFormGroup" *ngIf="!isLoading">
        <strong>Let's Finish Your Audio & Start The Video</strong>
        <p></p>
        <form [formGroup]="mediaFormGroup">
          <ng-template matStepLabel>Audio</ng-template>

          <strong>Use Our AI Generated Voice</strong>
          <p class="text-medium-emphasis small">
            Pick a voice. We'll take care of the audio for you or you can upload your own below.
          </p>
          <mat-button-toggle-group formControlName="selectedVoice">
            <mat-button-toggle *ngFor="let voice of voiceOptions" [value]="voice">
              {{ voice.name }}
              <audio controls>
                <source [src]="voice.sampleUrl" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <p></p>
          <div class="container">
            <button class="btn btn-info flex-grow-1" style="width: 100%"
              [disabled]="!mediaFormGroup.get('selectedVoice')?.value" (click)="generateTextToSpeech()">Generate Your AI
              Narration</button>
            <audio *ngIf="generatedAudioIsVisible" class="flex-grow-1" style="width: 100%;" controls>
              <source [src]="generatedAudio" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
          <br />
          <p></p>
          <strong style="margin-top: 1rem;">Or Download The Script And Record It Yourself</strong>
          <div class="container">
            <button class="btn btn-info" (click)="downloadTextFile()">Download Script</button>
            <!-- This sets a proxy where our nice button triggers our ugly one's func -->
            <button type="button" class="btn btn-success flex-grow-1" (click)="audioPicker.click()">Upload
              Audio</button>
            <input cFormControl id="audioFile" type="file" accept="audio/mpeg" hidden #audioPicker
              (change)="onAudioPicked($event)">
          </div>
          <br />
          <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
            <button cButton variant="outline" color="dark" matStepperPrevious>Go Back</button>
            <button class="btn btn-primary" style="margin-left: 1rem;" matStepperNext>Go To Next Step</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="uploadFormGroup" *ngIf="!isLoading">
        <strong>Almost Done, Put It All Together With Descript</strong><br />
        <p class="text-medium-emphasis small">
          Now that you have downloaded your AI narration or created your own, it's time to put it all together with
          video.
        </p>
        <div class="container">
          <button class="btn btn-info flex-grow-1" (click)="descriptButtonClicked()">Edit In Descript</button>
          <!-- This sets a proxy where our nice button triggers our ugly one's func -->
          <button type="button" class="btn btn-success flex-grow-1" (click)="videoPicker.click()">Upload Video</button>
          <input cFormControl id="videoFile" type="file" accept="video/*" hidden #videoPicker
            (change)="onVideoPicked($event)">
        </div>
        <br />
        <strong>Edit & Upload Your Thumbnail</strong>
        <p class="text-medium-emphasis small">
          Pick a voice. We'll take care of the audio for you and you'll have it on the next page.
        </p>
        <form [formGroup]="uploadFormGroup">
          <ng-template matStepLabel>Video</ng-template>

          <div class="grid-container">
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0g7iFaU/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                color="info"
                href="https://www.canva.com/design/DAFg0g7iFaU/r17BFd44EDBdpayWyKrnQg/edit?utm_content=DAFg0g7iFaU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0qAz46Q/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                color="info"
                href="https://www.canva.com/design/DAFg0qAz46Q/L4M5HjasBM6H2yQIYEUsfg/edit?utm_content=DAFg0qAz46Q&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0qpS228/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                color="info"
                href="https://www.canva.com/design/DAFg0qpS228/HC7MUiBXS9Q1PJocqzOTNg/edit?utm_content=DAFg0qpS228&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0jHKpT0/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                color="info"
                href="https://www.canva.com/design/DAFg0jHKpT0/NzysEvkx0ORQTe5fzkDh4w/edit?utm_content=DAFg0jHKpT0&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg08A6ApE/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                color="info"
                href="https://www.canva.com/design/DAFg08A6ApE/RB29GcwLgd6W0GpkvjkNxA/edit?utm_content=DAFg08A6ApE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
            <div class="grid-item">
              <div class="responsive-wrapper">
                <iframe loading="lazy" src="https://www.canva.com/design/DAFg0_bcsik/view?embed"
                  frameborder="0"></iframe>
              </div>
              <a cButton class="me-1" style="height: fit-content; width: 100%; margin-top:0.5rem; margin-bottom: 1rem;"
                color="info"
                href="https://www.canva.com/design/DAFg0_bcsik/whqApc5ek7brC7nYuZWN0w/edit?utm_content=DAFg0_bcsik&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">Click to Edit Above Thumbnail</a>
            </div>
          </div>

          <!-- This sets a proxy where our nice button triggers our ugly one's func -->
          <button type="button" class="btn btn-success flex-grow-1" style="width: 100%;"
            (click)="thumbPicker.click()">Upload Image</button>
          <input cFormControl id="imageFile" type="file" accept="image/*" hidden #thumbPicker
            (change)="onVideoPicked($event)">
          <br />
          <p></p>
          <div class="d-flex justify-content-end align-items-center full-width" style="margin-top: 2rem;">
            <button cButton variant="outline" color="dark" matStepperPrevious>Go Back</button>
            <button class="btn btn-primary" style="margin-left: 1rem;" (click)="goToReview()">Review Your Video & Post
              To Youtube</button>
          </div>
        </form>
      </mat-step>

    </mat-horizontal-stepper>
  </c-card-body>
</c-card>