<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <h5 style="align-items: center;" color="red">{{ errorMessage }}</h5>
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="emailForm">
                <h1>Join The Revolution</h1>
                <p class="text-medium-emphasis">Enter your email to get access to the program</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="email" formControlName="email" placeholder="Email" />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="submitForm()">
                      Get Access
                    </button>
                  </c-col>
                </c-row>
              </form>
              
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Ready To Get Paid?</h2>
                <p>
                  Not just anyone can join Youtube Revolution.  Exclusive members only.  Register now to get started and start earning passive income online with AI.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>